*{
  border:none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  scroll-behavior: smooth;
}

body {
  font-family:'Poppins', sans-serif;
}

a {
  text-decoration: none;
  font-size: 18px;
  display: block;
}

a:visited {
  color: #18175b;
}

.navigation_links{
    margin: 20px auto;
    padding: 15px 30px;
}

h1 {
  color: #333;
  font-size:3rem;
  font-weight:400;
  line-height: 1.5;
}

h2 {
  color: #333;
  font-size:2.5rem;
  font-weight:400;
  line-height: 1.5;
}

h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
}

h4{
    text-align: left;
    font-size: 1.65rem;
    font-weight: 400;
    line-height: 1.5;
}

p{
  color: #333;
  font-size: 19px;
  line-height: 1.5;
  font-weight:300;
}

strong{
  font-weight: 500;
}

.about_me{
  margin-right:50px;
}

.about_me2{
  margin-left:50px;
  margin-right:50px;
}

.flex-words-container{
    display: flex;
}

.flex-words{
  width:25%;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-item{
  width:50%;
  overflow: hidden;
  margin: auto;
  flex-wrap: wrap;
}

.flex-item2{
  width:55%;
  overflow: hidden;
  flex-wrap: wrap;
}

.flex-item3{
  width:45%;
  overflow: hidden;
  margin:auto;
  flex-wrap: wrap;
}

.flex-item4{
  width:375px;
  overflow: hidden;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
}

.foot {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}

.foot-text{
  font-size: 14px;
  color: #999999;
}

.wrapper{
  margin-left: auto;
  margin-right: auto;
}

.shadow{
  filter: drop-shadow(0px 3px 10px rgba(0,0,0,0.06));
  box-shadow: 0px 0px 52px -24px rgba(0,0,0,0.75)
  height:50px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 52px -24px rgba(0,0,0,0.50);
}

.button-container{
  width:250px;
  margin-top:10px;
}

.btn6, .btn6:link, .btn6:visited {
  text-align: center;
  padding: 13px 0;
  border: 1px solid #333;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  transition: all .2s ease-in-out;
}
  
  .btn6:hover {
    background: #8517fe;
    border: 1px solid #8517fe;
    color: #fefefe;
    border-radius: 30px;
  }

.navigation{
  position: absolute;
  margin-left:13%;
}

.navigation a{
  color: #333;
  font-weight:500;
}

.navigation_items{
  display: inline-block;
  text-align: center;
}

li{
  display:inline-block;
}

.works_container{
    height: 525px;
    border: 2px solid #f5f5f7;
    border-radius: 5px;
    /* margin-right: 200px; */
    margin-left: 20px;
    margin-right: 20px;
}

.works_container:hover{
  box-shadow: 0px 0px 50px -30px rgba(0,0,0,0.50);
  transition: all .5s ease;
}

.works_picture{
  height:300px;
  background-color: black;
  border-radius:5px;
}

.works_text{
  margin-top: 25px;
  margin-left: 15px;
  color: #333;
}

.works_button{
  margin-top:45px;
  width:100%;
  padding: 0 15px;
}

@media only screen and (max-width: 900px) {
  
  .shadow{
    padding-left: 20px;
    padding-right:20px;
  }
  
  .about_me{
    margin-bottom: 50px;
    margin-left: 50px;
  }
  
  .flex-container{
  }
  
.flex-item{
  width:100%;
  overflow: hidden;
  flex-wrap: wrap;
  order: 1;
  flex-wrap: wrap;
}
  
  .flex-item2{
  width:100%;
  overflow: hidden;
  flex-wrap: wrap;
  order: 1;
}

.flex-item3{
  width:100%;
  overflow: hidden;
  margin:auto;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right:20px;
  order: 2;
  text-align:center;
}
  
.button-container {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
}
